Commit-JAXWS-Lib/CheckSpellcheckResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:msg="http://www.example.org/messages"
        xmlns:s="http://www.example.org/businessSchemas"
        elementFormDefault="qualified"
        targetNamespace="http://www.example.org/messages">    

    <complexType name="CheckSpellchecResponseType">
        <sequence>
            <element name="status" type="string"/>
        </sequence>
    </complexType>

    <element name="checkSpellchecResponse" type="msg:CheckSpellchecResponseType"/>
</schema>
