Commit-JAXWS-Lib/CommitFault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="http://www.example.org/businessSchemas">

    <complexType name="CommitFaultType">
        <sequence>
            <element name="code" type="string"/>
            <element name="description" type="string"/>
        </sequence>
    </complexType>
</schema>
