prepush/Process.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Process" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/Process"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns6="http://www.example.org/messages" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Process">
            <xsd:import namespace="http://www.example.org/messages" schemaLocation="xsd/CheckSpellcheckRequest.xsd"/>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ObdelajPush">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:checkSpellcheckRequest"/>
                        <xsd:element ref="tns6:checkSpellcheckResponse"/>
                        <xsd:element ref="tns6:checkMergeRequest"/>
                        <xsd:element ref="tns6:checkMergeResponse"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:message name="ObdelajPush">
        <wsdl:part name="parameters" element="tns:ObdelajPush"/>
    </wsdl:message>
    <wsdl:portType name="ProcessPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ProcessPortType">
        <wsdl:operation name="ObdelajPush">
            <wsdl:input message="tns:ObdelajPush"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="ProcessPortTypePartnerLinkType">
        <plnk:role name="ProcessPortTypeProvider">
            <plnk:portType name="tns:ProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
